div.microArticle h2 {
  background-image: url('../images/foldOut.png');
  background-position: 98% 0;
  background-repeat: no-repeat;
}

div.field-items div.field-item.even img {
  height: 200px;
  left: 455px;
  position: absolute;
  top: 80px;
  width: 240px;
}